body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #25853B;
}

.app {
  margin: 0;
  padding: 0;
  width: 100%;
}

.header {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  height: 100px;
  background-color: #66101f;
  display: flex;
}

.opponent {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

  padding-left: 5px;
  padding-right: 5px;
  padding-top: 30px;

  background-color: #e07a5f;
  border-radius: 7px;

  color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  
}

.actionBanner {
  width: 100%;
  height: 120px;
  /* display: flex;
  align-content: center; */
}

.actionBannerContent {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: larger;
  color: #070707;
  /* background-color: #afd0bf; */
  background-color: #9dc5bb;
  border-radius: 10px;
}

.hand {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.player-buttons button {
  margin-left: 5px;
  margin-right: 5px;
}

.playerHand {
  margin-top: 10px;
  display: flex;
}

.card {
  width: 80px;
  height: 120px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 3px;
  border-radius: 5px;
  box-shadow: 0 0 2pt black;
  background-color: #fffffa;
}

.top-left {
  text-align: left;
  width: 100%;
  height: 15px;
}

.value {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
}

.bottom-right {
  text-align: right;
  width: 100%;
  height: 15px;
}